
body {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/klebsonsite.png");
}
img{
  content: '';
  display: block;
  background-image: url("./img/ladoborda.png");
  position: absolute;
  top: 200px;
  right: 100px;
}
.box {
  color: white;
  position: absolute;
  top: 55%;
  left: 58%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  width: 20%;
}
fieldset {
  border: 3px solid rgb(248, 249, 250);
}
legend {
  border: 1px solid dodgerblue;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}
.inputBox {
  position: relative;
}
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: dodgerblue;
}
#data_nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
#submit {
  background-image: linear-gradient(
    to right,
    rgb(0, 92, 197),
    rgb(90, 20, 220)
  );
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 80, 172),
    rgb(80, 19, 195)
  );
}
h1 {   
  vertical-align: middle;
  font-size: 45px;
  margin-top: 30px;
  line-height: 3.5rem;
  color: #e3e6ebfd;
  position: relative; top: 15px; left: 1000px;
  text-shadow: 0 0 10px rgb(61, 79, 180);
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px rgb(230, 227, 227),
      0 0 21px dodgerblue,
      0 0 102px dodgerblue,
      0 0 151px rgb(0, 0, 0);
}

@media screen and (max-width: 1064px) {
    .box {
        width: 90%;
        height: auto;
    }
    .box {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 90rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .box {
        margin-top: 5rem;
    }
    .box {
        flex-direction: column;
    }
    .box h6 {
        margin: 0;
    }
    .box {
        margin-top: 0.5rem;
    }
  }
